body {
    max-width: 1500px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
div {
    border-radius: 25px;
    background: orange;
    padding: 20px;
    width: 100%;
}
header div {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
h1 {
    font-size: 10em;
    text-align: center;
    font-weight: bold;

}
h2 {
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 1%;
}
li {
    font-size: 3em;
}
main p {
    font-style: italic;
}
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}
p, li, a {
    font-family: 'Montserrat', sans-serif;
}