:root {
    --section-background-color: #41684a;
    --main-background-color: #ccafe2;
    --border-color: #1b0808;
    --title-color: #dbc501;
}

html,
body {
    text-align: center;
    align-content: center;
}

h1,
h2 {
    color: var(--title-color);
    font-size: 3em;
}

h2 {
    margin-bottom: 0;
}

main {
    box-shadow: 0 0 30px var(--border-color);
    background-color: var(--main-background-color);
    border: var(--border-color);
    padding: 1em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15px;
}

section {
    background-color: var(--section-background-color);
    border: 2px solid var(--border-color);
}

p {
    font-size: 1em;
    margin: 2%;
}

img {
    box-shadow: 0 0 50px 1px var(--border-color);
    height: auto;
    margin: 1em;
    width: 90%;
}